html
    head
        title= title
        link(rel='stylesheet', href='stylesheets/styles.css')
        link(rel='stylesheet', href='jquery/jquery-ui.css')
        link(rel='stylesheet', href='jquery/jquery-ui.theme.css')
        script(src='jquery/jquery-3.2.0.js')
        script(src='jquery/jquery-ui.js')
        script(src='javascript/maps.js')
        
    body
        div#meter(style="display:none;")

        div#stationMap

        div#stationInfo
            select#station
                -for (let i = 0; i < station_list.length; i++)  {
                    option(value= station_list[i].station_id data-lng= station_list[i].gps.coordinates[0] data-lat= station_list[i].gps.coordinates[1] 
                    data-name= station_list[i].name data-bikes= station_list[i].bikes data-racks= station_list[i].racks)= station_list[i].name
                -}
            
            br
            label#racksAvailable
            br
            label#bikesAvailable
            <!-- input#refreshStations(type= 'submit', value= 'Refresh' onclick= "refreshPage()") -->
        script(src=mapUrl)